#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: rgb(179, 0, 0);
}

p {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 380px;
  place-content: top;
}

#main-table {
  border: black, 1px, solid;
  border-collapse: collapse;
}

th {
  background-color: rgb(179, 0, 0);
  color: white;
}
