#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: rgb(179, 0, 0);
}

table {
  border: black, 1px, solid;
  border-collapse: collapse;
  width: 380px;
}

th {
  background-color: rgb(179, 0, 0);
  color: white;
}
